@using MakinaPark.Models;
@{
    Layout = null;
}


<header id="header">
    <div class="top-bar">
        <div class="container">
            <div class="row">
                <div class="col-sm-8">
                    <div class="info-box">
                        <a href="@Url.Action("Index",  "Home")"><h4>MAKİNA <span>PARKI</span></h4></a>

                    </div>
                    @*<div class="info-box">
                            <i class="fa fa-phone"></i>
                            <div class="info-text">
                                <h5>Contact Number:</h5>
                                <span>+121 2134345678</span>
                            </div>
                        </div>
                        <div class="info-box">
                            <i class="fa fa-clock-o"></i>
                            <div class="info-text">
                                <h5>Opening Time:</h5>
                                <a href="#">Mon-Sat: 9:00 - 17:30</a>
                            </div>
                        </div>*@
                </div>

                <div class="col-sm-4">
                    <div class="top-social pull-right">
                        <ul class="list-inline">
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
                            <li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
                            @if (@Kullanici.Oturum().AdSoyad == null)
                            {
                                <a href="@Url.Action("Login",  "User")"><i class="fa fa-user"></i> Giris Yap</a>
                            }
                            else
                            {
                                <a href="@Url.Action("Account",  "User")"><i class="fa fa-user"></i> @Kullanici.Oturum().AdSoyad</a>
                            }

                            @*<li><a href="#"><i class="fa fa-skype"></i></a></li>
                                <li><a href="#"><i class="fa fa-pinterest-square"></i></a></li>*@
                        </ul>

                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="top-social pull-right">

                    </div>
                </div>
            </div>
        </div><!-- container -->
    </div><!-- top-bar -->
    <!-- main menu -->
</header><!-- Header -->



