@model List<KategoriModel>

@{
    ViewData["Title"] = "Kiralik";
    Layout = "~/Views/Shared/_Layout_Makina.cshtml";
}

<h2>Kiralik</h2>

<ul>

    @foreach (var kategori in Model)
    {
    <li>
        <a href="@Url.Action("KategoriAltKiralik", "Kategori", new { slug = kategori.Slug })" title="@kategori.Aciklama">@kategori.Kategori</a>
        @if (kategori.KategoriAltList.Count > 0)
        {
            <ul>
                @foreach (var kategoriAlt in kategori.KategoriAltList)
                {
                <li>
                    <a href="@Url.Action("KategoriMarkaKiralik", "Kategori", new {ustSlug=kategori.Slug, slug = kategoriAlt.Slug })" title="@kategoriAlt.Aciklama">@kategoriAlt.Kategori</a>
                    @if ( kategoriAlt.KategoriMarkaList != null)
                    {
                        <ul>
                            @foreach (var marka in kategoriAlt.KategoriMarkaList)
                            {
                            <li>
                                <a href="@Url.Action("KategoriModelKiralikList", "Kategori", new { slug = marka.Slug,ustSlug=kategori.Slug,altSlug=kategoriAlt.Slug })" title="@marka.Aciklama">@marka.Kategori</a>
                                @if ( kategoriAlt.KategoriModelList != null)
                                {
                                    <ul>
                                        @foreach (var models in marka.KategoriModelList)
                                        {
                                            <li>
                                                <a href="@Url.Action("KategoriModelDetay", "Kategori", new { slug = models.Slug })" title="@models.Aciklama">@models.Kategori</a>
                                            </li>
                                        }
                                    </ul>
                                }
                            </li>
                            }
                        </ul>
                    }
                </li>
                }
            </ul>
        }
    </li>
    }



</ul>


