
@{
    ViewData["Title"] = "Ana Sayfa";
    Layout = "~/Views/Shared/_Main.cshtml";
}





<div class="home-section image-bg">
    <div class="overlay"></div>
    <div class="home-content">
        <div class="container">
            <div id="home-slider" class="carousel slide carousel-fade" data-ride="carousel">
                <div class="carousel-inner" role="listbox">
                    <div class="item active">
                        <h2>MAKİNA PARKINI <span>BİRLİKTE İNŞA EDİYORUZ</span></h2>
                        <a href="#" class="btn btn-primary">İletişime Geç</a>
                    </div>
                    <div class="item">
                        <h2>MAKİNA PARKI<span>İLE İŞİNİ BÜYÜT! </span> </h2>
                        <a href="#" class="btn btn-primary">İŞ ORTAĞI OL</a>
                    </div>
                    <div class="item">
                        <h2><span>MST</span> FİLTRELERİNDE BÜYÜK İNDİRİM !</h2>
                        <a href="#" class="btn btn-primary">iNCELE</a>
                    </div>
                </div>
                <a class="carousel-left" href="#home-slider" data-slide="prev"><i class="fa fa-angle-left"></i></a>
                <a class="carousel-right" href="#home-slider" data-slide="next"><i class="fa fa-angle-right"></i></a>
            </div>

            <div class="services">
                <div class="row">
                    <div class="col-md-4">
                        <a href="@Url.Action("Makina", "Kiralik")" class="">
                            <div class="service crane-lifting image-bg">
                                <div class="overlay"></div>
                                <div class="image-box">
                                    <img class="img-responsive" src="~/client/images/service/1.png" alt="Image">
                                </div>
                                <div class="box-title">
                                    <h3>KİRALIK</h3>
                                    <p>Ara, karşılaştır, en iyi fiyata hemen iş makinası kirala! </p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-4 ">
                        <a href="@Url.Action("Makina", "Satilik")" class="">
                            <div class="service home-plumbing image-bg">
                                <div class="overlay"></div>
                                <div class="image-box">
                                    <img class="img-responsive" src="~/client/images/service/2.png" alt="Image">
                                </div>
                                <div class="box-title">
                                    <h3>SATILIK</h3>
                                    <p>Aradığın iş makinasını bul, İş Makinanını kolaylıkla sat !  </p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a href="@Url.Action("ServisBul", "Servis")" class="">
                            <div class="service house-plans image-bg">
                                <div class="overlay"></div>
                                <div class="image-box">
                                    <img class="img-responsive" src="~/client/images/service/3.png" alt="Image">
                                </div>
                                <div class="box-title">
                                    <h3>
                                        SERVİSLER
                                    </h3>
                                    <p>Sana en yakın servislere ulaş, bizim  tarafımızdan seçilmiş servislerle çalış</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-4">
                        <a href="@Url.Action("Listesi", "YedekParca")" class="">
                            <div class="service crane-lifting image-bg">
                                <div class="overlay"></div>
                                <div class="image-box">
                                    <img class="img-responsive" src="~/client/images/service/1.png" alt="Image">
                                </div>
                                <div class="box-title">
                                    <h3>
                                        YEDEK PARÇA
                                    </h3>
                                    <p>Binlerce farklı çeşit parçadan Makinan için en uygunu burda </p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-4 ">
                        <a href="@Url.Action("Listesi", "Operator")" class="">
                            <div class="service home-plumbing image-bg">
                                <div class="overlay"></div>
                                <div class="image-box">
                                    <img class="img-responsive" src="~/client/images/service/2.png" alt="Image">
                                </div>
                                <div class="box-title">
                                    <h3>
                                        OpERATORLER
                                    </h3>
                                    <p>En iyi operatörler arasından seçimini yap </p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a href="@Url.Action("Listesi", "Lojistik")" class="">
                            <div class="service house-plans image-bg">
                                <div class="overlay"></div>
                                <div class="image-box">
                                    <img class="img-responsive" src="~/client/images/service/3.png" alt="Image">
                                </div>
                                <div class="box-title">
                                    <h3>
                                        LOJİSTİK
                                    </h3>
                                    <p>İş makinası sevkiyatı için en uygun teklifi bul </p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div><!-- services -->
        </div><!-- container -->
    </div><!-- home content -->

</div><!-- home -->
